<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020 <a href="https://SoloCoder.com" target="_blank">Solo Coder</a>. All Rights reserved.</h6>
    </nav>
  </footer>